<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="NorthwindConnectionString" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WcfService1.NorthwindServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="WcfService1.NorthwindServiceBehavior" name="WcfService1.NorthwindService">
				<endpoint address="" binding="wsHttpBinding" contract="WcfService1.INorthwindService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
