<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <add name="LINQ2Anything.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    <add key="BingKey" value="BING KEY"/>
    <add key="TwitterUsername" value="dgkanatsios"/>
    <add key="TwitterPassword" value="PASSWORD"/>
  </appSettings>


</configuration>

